@import "tailwindcss";
@import "../src/assets/font/bonny/bonny.css";

body{
  font-family: "Lexend Exa", sans-serif;
  font-weight: 8
  200;
}

h1 {
  
  font-optical-sizing: auto;
  font-weight: 800;
  font-style:normal;
}

.font-play {
  font-family: "Playwrite IE", cursive;
}